html, body {
	font-family: "Verdana", sans-serif;
}
.cardDiv {
	height: 384px;
	width: 256px;
	margin: auto;
	background-image: url("deck2.png");
}
.bigDiv {
	display: inline-block;
	text-align: center;
	width: 33%;
	vertical-align: middle;
}
.number {
	background-color: red;
	height: 50px;
	width: 50px;
}
.drawButton {
	height: 140px;
	width: 280px;
	margin-top: 20%;
	font-size: 60px;
	border: 2px solid black;
	border-radius: 25px;
	background-color: white;
	color: black;
	font-family: "Verdana", sans-serif;
}
.simButton {
	height: 80px;
	width: 160px;
	font-size: 40px;
	margin-top: 10%;
	border: 2px solid black;
	border-radius: 25px;
	background-color: white;
	color: black;
	font-family: "Verdana", sans-serif;
}
.simButtonDiv {
	text-align: center;
}
.buttonDiv{
	display: inline-block;
	width: 33%;
	text-align: center;
	vertical-align: middle;
}
.cardText {
	font-size: 25px;
}
.defaultText {
	display: block;
}
.winText {
	display: none;
}
.loseText {
	display: none;
}
.tieText {
	display: none;
}
.resultText {
	font-size: 45px;
}
.resultTextDiv {
	text-align: center;
	margin-top: -75px;
}
.buttonDiv2 {
	text-align: center;
}
.restartButton {
	font-size: 45px;
	height: 100px;
	width: 200px;
	border: 2px solid black;
	border-radius: 25px;
	background-color: white;
	color: black;
	font-family: "Verdana", sans-serif;
}
.whole {
	background-color: #000066;
	color: white;
}
.twod {
	background-position: 0px 0px;
}
.threed {
	background-position: -256px 0px;
}
.fourd {
	background-position: -512px 0px;
}
.fived {
	background-position: -768px 0px;
}
.sixd {
	background-position: -1024px 0px;
}
.sevend {
	background-position: -1280px 0px;
}
.eightd {
	background-position: -1536px 0px;
}
.nined {
	background-position: -1792px 0px;
}
.tend {
	background-position: -2048px 0px;
}
.Jd {
	background-position: -2304px 0px;
}
.Qd {
	background-position: -2560px 0px;
}
.Kd {
	background-position: -2816px 0px;
}
.Ad {
	background-position: -3072px 0px;
}

.twoh {
	background-position: 0px -384px;
}
.threeh {
	background-position: -256px -384px;
}
.fourh {
	background-position: -512px -384px;
}
.fiveh {
	background-position: -768px -384px;
}
.sixh {
	background-position: -1024px -384px;
}
.sevenh {
	background-position: -1280px -384px;
}
.eighth {
	background-position: -1536px -384px;
}
.nineh {
	background-position: -1792px -384px;
}
.tenh {
	background-position: -2048px -384px;
}
.Jh {
	background-position: -2304px -384px;
}
.Qh {
	background-position: -2560px -384px;
}
.Kh {
	background-position: -2816px -384px;
}
.Ah {
	background-position: -3072px -384px;
}

.twos {
	background-position: 0px -768px;
}
.threes {
	background-position: -256px -768px;
}
.fours {
	background-position: -512px -768px;
}
.fives {
	background-position: -768px -768px;
}
.sixs {
	background-position: -1024px -768px;
}
.sevens {
	background-position: -1280px -768px;
}
.eights {
	background-position: -1536px -768px;
}
.nines {
	background-position: -1792px -768px;
}
.tens {
	background-position: -2048px -768px;
}
.Js {
	background-position: -2304px -768px;
}
.Qs {
	background-position: -2560px -768px;
}
.Ks {
	background-position: -2816px -768px;
}
.As {
	background-position: -3072px -768px;
}

.twoc {
	background-position: 0px -1152px;
}
.threec {
	background-position: -256px -1152px;
}
.fourc {
	background-position: -512px -1152px;
}
.fivec {
	background-position: -768px -1152px;
}
.sixc {
	background-position: -1024px -1152px;
}
.sevenc {
	background-position: -1280px -1152px;
}
.eightc {
	background-position: -1536px -1152px;
}
.ninec {
	background-position: -1792px -1152px;
}
.tenc {
	background-position: -2048px -1152px;
}
.Jc {
	background-position: -2304px -1152px;
}
.Qc {
	background-position: -2560px -1152px;
}
.Kc {
	background-position: -2816px -1152px;
}
.Ac {
	background-position: -3072px -1152px;
}
.ComNumber {
	font-size: 60px;
	display: inline-block;
	margin-left: 750px;
}
.UserNumber {
	display: inline-block;
	font-size: 60px;
	margin-left: 170px;
}
.bodyDefault {
	display: block;
}
.bodyWin {
	display: none;
	font-size: 75px;
	text-align: center;
}
.bodyLose {
	display: none;
	font-size: 75px;
	text-align: center;
}
.playAgainButton {
	font-size: 75px;
	height: 150px;
	width: 500px;
}
.space {
	height: 125px;
}