.containerDiv {
	text-align: center;
}
.cardDiv {
	height: 384px;
	width: 256px;
	border-style: solid;
	border-width: 2px;
	border-color: black;
}
.bigDiv {
	display: inline-block;
	text-align: center;
}
.number {
	background-color: red;
	height: 50px;
	width: 50px;
}
.drawButton {
	height: 90px;
	width: 195px;
	font-size: 60px;
	vertical-align: middle;
}
.buttonDiv{
	display: inline-block;
	height: 90px;
	width: 195px;

}